<p id="notice"><%= notice %></p>


<h1><%= @user.username %></h1>
<% if @user.ratings.empty? %>
<p>
  <% else %>
   Has made <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count) %>, average <%= @user.average_rating.round(2) %>
  <% end %>

</p>
<p>
  <% unless @user.beer_clubs.empty? %>
     Member of
      <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
     <% end %>
  <% end %>
</p>

<h3>Favourites</h3>
<p>
  Favourite beer: <%= @user.favorite_beer %>, Favourite style: <%= @user.favorite_style %>, brewery: <%= @user.favorite_brewery %>
</p>


<h2>ratings</h2>
<ul>
 <% @user.ratings.each do |rating| %>
   <li>
     <%= rating %>
     <% if @user == current_user %>
         <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
   </li>
 <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
