<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>
<p style="font-style:italic;">
  Established at
  <%= @brewery.year %>
</p>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>


<p>
  <strong>Year:</strong>
  <%= @brewery.year %>
</p>

<% if @brewery.ratings.empty? %>
 Brewery has not yet been rated!
<% else %>
 Has <%= @brewery.ratings.count %> <%= "rating".pluralize(@brewery.ratings.count) %>, average <%= @brewery.average_rating %>
<% end %>



<%= link_to 'Edit', edit_brewery_path(@brewery) %>
